.list {
    & .list__title {
        font-size: 2rem;
    }

    & .list__items {
        margin: 0;
        padding: 1rem;
        border: 2px solid #000000;
        border-radius: 1rem;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);

        & li {
            display: inline-block;
            width: 100%;
            transition-duration: 0.3s;
            transition-property: transform;

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}
